<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
    <main class="container">
        <h1>Home Page</h1>
        <div>
            {{ range .posts }}
            <article>
                <h2>{{ .Title }}</h2>
                <time datetime="{{ .CreatedAt }}">{{ .CreatedAt }}</time>
                <p>{{ .Content }}</p>
            </article>
            {{ end }}
        </div>
    </main>
</body>
</html>
